.row_profile_background{
    background-image: url('');
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/profile_background.jpg");   
    background-size:cover;
    height: 30vh;

}

.div_profile_pic{
    background-color: black;
    background-image: url('../../images/profile_Pircture.png');
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 80%;
    position: relative;
    bottom: 85px;
    left: 60px;
    border: 4px solid white;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.64);
    margin-top: 8rem;
}
.div_profile_info{
    margin-top: 15px;
}
.personal_info{
    margin-top: 60px;
}
.checked{
    color: orange;
}

.row_rent{
    background-color: rgba(128, 128, 128, 0.721);
}

.sec_profile_body{
    margin-bottom: 30px;
}

.btn_left{
    width: 100px;
    font-size: 0.7rem;
    position: absolute;
    left: 47px;
    top: 206px;
    background-color: #D04068;
    border: none;
}

.left_buttons {
    background-color: #D04068;
    border: none;
    font-size: 18px;
    margin-top: 10px;
   text-decoration: none;
}
link{
    text-decoration: none;
    color: #d04068;
}
.left_body{
    margin-left: 100px;
    padding-top: 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.507)
    
    
}
.left_body h5{
    color: #d04068;
}
.left_body p{
    font-size: 12px;
    margin-top: 1px;
    margin-left: 10px
}

.row_dues{
    background-color: rgba(128, 128, 128, 0.185);
    height: 71px;
    width: 97%;
    
    /* border-radius: 10px; */
}
.AcceptRejectBtn{
    margin: -56px;
    margin-left: 144px;
}
.btn_pay_now:hover {
    background-color: rgb(4, 103, 53);
  }


.reject_button{
    position: relative;
    top: 6px;
    left: 290px;
    font-size: 15px;
}
.btn_pay_now{
    position: relative;
    top: 6px;
    left: 130px;
    font-size: 15px;
    background-color: #D04068;
    border: none;

}

.center_tenant{
    font-size: 16px;
    margin-top: 8px;
}
.outstanding_dues{
    margin: 0;
    font-size: 12px;
    margin-top: -5px;
}
.outstanding_dues span{
    color: #D04068;
    font-weight: bold;
}

.center_body{
    margin-left: 30px;
}
.center_body{
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    padding: 17px 20px 0 20px;
    /* Top right bottom left */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.373);
    background-color: white ;
   


}
.left_body  {
    height: 250px;
    /* border: 2px solid black; */
    padding-right: 0px;
    background-color: rgba(204, 197, 197, 0.337);
}

.sec_profile_body{
    background-color: #c3bebe1a;
    /* margin-top: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.099);
    margin-top: -30px;

}

.right_body{

    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.64);
    margin-left: 20px;
    background-color: #cf5477f3;
    

}
.right_body h4{
    margin-top: 30px;
    color: white;
}
.dues p a{
    margin-top: 15px;
    font-size: 13px;
    color: white;
    text-decoration: underline;

}